/* https://codepen.io/zdflower/pen/RyPQKy */
#tooltip {
  position: absolute;           
  text-align: center;           
  width: 140px;                  
  height:120px;                 
  padding: 10px;             
  font: 12px sans-serif;        
  background: green;
  color: beige;
  border: 1px;
  border-color: purple;      
  border-radius: 0 10px;           
  pointer-events: none;
  z-index: 2;
  
}

rect {
	stroke: purple;
}

rect:hover{
	fill: yellow;
}